<link rel="stylesheet" href="/stylesheets/flipclock.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/flipclock.js"></script>
<script>
  <!-- for my exam ... -->
  var final = new Date();
  if (final.getMonth() <= 6 || final.getDate() <= 8) {
    alert("考试啦~ 本站即日起至7月8日停止维护o.o\n"
      + "当前：" + final.toString());
  }
</script>

<div id="google_translate_element" align="right"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'zh-CN', multilanguagePage: true}, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="hero-unit">
  <h1>这里啥都木有O(∩_∩）O~</h1>
  <p>本站已托管到 <a href="https://github.com/3013216027/blogme"> 我的github </a>上！祝泥有个好心情&gt;_O</p>
  <p>
    <!--
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-large" href="/reg">立即注册</a>
    -->
    <div class="btn-group">
      <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">问  题 <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="https://www.zybuluo.com/3013216027/note/113112">本周问题</a></li>
        <li><a href="/problem-week1.html">第一周问题</a></li>
        <li><a href="/problem-week2.html">第二周问题</a></li>
        <li><a href="https://www.zybuluo.com/3013216027/note/113112">第三周问题</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">题  解 <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="https://www.zybuluo.com/3013216027/note/113665">本周题解</a></li>
        <li><a href="/solve-week1.html">第一周题解</a></li>
        <li><a href="/solve-week2.html">第二周题解</a></li>
        <li><a href="https://www.zybuluo.com/3013216027/note/113665">第三周题解</a></li>
      </ul>
    </div>
  </p>
</div>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=2&id=5247677&auto=0&height=66"></iframe>
<div class="row">
  <div class="span4">
    <!--p>
      2015-06-02: 鉴于原生Markdown的渲染能力有限，本周开始将启用cmd-markdown存放文档，后续的页面将直接指向Cmd-Markdown，服务器不再保存之后生成的任何相关文件。</br>
    </p-->
  </div>
</div>
<div class="text-left">
  <p>
  <div class="clock" style="margin:2em;"></div>
  <script type="text/javascript">
var clock;
$(document).ready(function() {
    clock = new FlipClock($('.clock'), {clockFace: 'TwelveHourClock'});
    });
  </script>
  </p>
</div>
